<!DOCTYPE html>
<!--
  Personal landing page
  @author Haroen Viaene <hello@haroen.me>
-->
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <title> Rozcietrzewiacz</title>
  <meta charset="utf-8" />

  <!-- saying that the browser doesn't need to rescale on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <!-- status bar in transparent/colour -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="#7f1734" />
  <!-- homescreen icon -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" href="/apple-touch-icon.png" />
  <!-- windows 8 tiles -->
  <meta name="application-name" content="Rozcietrzewiacz"/>
  <meta name="msapplication-TileColor" content="#7f1734"/>
  <!-- favicon is best linked in your html too -->
  <link rel="icon" type="image/png" href="/favicon.png" />
  <!-- linking your CSS -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- SEO, displaying results -->
  <meta name="description" content="Rozcietrzewiacz's landing page" />
  <meta name="author" content="Rozcietrzewiacz" />

  <!-- Robots will follow all links on this site, the page is an index -->
  <meta name="robots" content="index, follow" />

  <!-- OGP -->
  <meta property="og:url" content="https://rozcietrzewiacz.github.io/" />
  <!-- title and author -->
  <meta property="og:site_name" content="rozcietrzewiacz.github.io" />
  <meta property="og:title" content="Rozcietrzewiacz" />
  <meta property="article:author" content="Rozcietrzewiacz">
  <!-- general OG image -->
  <link rel="image_src" href="https://rozcietrzewiacz.github.io/apple-touch-icon.png" />
  <meta property="og:image" content="https://rozcietrzewiacz.github.io/apple-touch-icon.png" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta property="og:type" content="website" />
  <!-- description -->
  <meta name="og:description" content="Rozcietrzewiacz's landing page" />

</head>
